.header {
  position: relative;
  font-family: 'DotGothic16', sans-serif;
  font-size: 44px;
  color: white;
  padding: 10px 0;
  text-align: center;
  margin-top: 5px;
  margin-bottom: 5px; /* Added margin bottom */
}

.header h1 {
  margin: 0;
  font-size: 4rem;
  color: #ff3c3c;
}

.header h2 {
  margin: 10px 0;
  color: #f0f853;
  font-size: 2rem;
}
