<div class="contact-container">
  <h2>Contact Me</h2>
  <p>If you'd like to get in touch, please use the following contact
    information:</p>
    <br>
    <br>
  <ul class="contact-info">
    <pre>
      <li> <i class="fas fa-envelope"></i> <strong>Email:</strong> vlademir.junior.nh@gmail.com</li>
      <li> <i class="fas fa-phone"></i> <strong>Phone:</strong> +55 51 9-9009-1531</li>
      <li> <i class="fab fa-linkedin"></i> <strong>LinkedIn:</strong> <a href="https://www.linkedin.com/in/vlademir-junior" target="_blank">in/vlademir-junior</a></li>
      <li> <i class="fab fa-github"></i> <strong>GitHub:</strong> <a href="https://github.com/vlademir-junior" target="_">github.com/vlademir-junior</a></li>
    </pre>
  </ul>
</div>
